#!/bin/bash
#SBATCH --job-name=<%= job.name %>
#SBATCH --output=logs/slurm_%j.out
#SBATCH --error=logs/slurm_%j.err
#SBATCH --time=<%= resources$walltime %>
#SBATCH --mem=<%= resources$memory %>M
#SBATCH --cpus-per-task=<%= resources$ncpus %>
#SBATCH --ntasks=1

module load R
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'